<div id="<%= dom_id call %>">
  <p>
    <strong>Client:</strong>
    <%= call.client_id %>
  </p>

  <p>
    <strong>Reason:</strong>
    <%= call.reason_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= call.date %>
  </p>

</div>
